*{
  background-color: rgb(255, 42, 0);
}
body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(255, 42,0);
  padding: 10px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li{
  float:left;
  
  
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#cart{
  background-color: green;
  width: 100px;
  height: 50px;
}

.bob{
  height: 200px; 
}

.footer{
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.fa-star{
  color: orange;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }